.container,
.astronaunt,
.helmet,
.helmet-glass,
.shine,
.spacesuit,
.torso,
.buttons,
.btn,
.blue,
.yellow,
.red,
.leg,
.left,
.right,
.arm-left,
.arm-right,
.forearm-left,
.forearm-right,
.wrist,
.hand-left,
.hand-right,
.hand-left:after,
.hand-right:after,
.foot,
.foot:after,
.tank
{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  box-sizing: border-box;
	display: inline-block;
}

@keyframes floating {
  from { transform: translate(0px,  0px); }
  65%  { transform: translate(10px, 65px); }
  to   { transform: translate(0px, -0px); }    
}

@keyframes blinking {
  0% {background-color:rgb(82, 128, 253); }
  25% {background-color: blue;}
  75% {background-color:rgb(82, 128, 253); }
  100% {background-color: blue;}
}

@keyframes blink {
  to {background-color: blue;}
}




.container {
  width: 300px;
  height: 400px;
  z-index: 9999;
  top: 150px;
  animation: floating 7s ease-in-out infinite;
  transform: rotate(-60deg);
}

.astronaunt {
  transform: rotate(-20deg);
}

.helmet {
  background-color: #FFFFFF;
  width: 140px;
  height: 120px;
  border-radius: 50% 50% 40% 40%;
  z-index: 9999;
}

.helmet-glass {
  background-color: #666666;
  width: 110px;
  height: 70px;
  border-radius: 60% 60% 30% 30%;
  top: 15px;
}

.shine {
  background-color: #92928F;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  right: 75px;
  top: 20px;
}

.tank {
  background-color: #AAA6A1;
  width: 170px;
  height: 170px;
  top: 80px;
  border-radius: 10%;
}

.torso {
  background-color: #F2F2F2;
  width: 140px;
  height: 140px;
  top: 113px;
  border-radius: 5%;
}

.arm-left,
.arm-right {
  background-color: #f2F2F2;
  width: 40px;
  height: 70px;
  top: -25px;
}

.arm-left {
  margin-left: -45px;
  transform: rotate(-70deg);
}

.arm-right {
  margin-right: -45px;
  transform: rotate(70deg);
}

.forearm-left,
.forearm-right {
  background-color: #f2F2F2;
  width: 40px;
  height: 60px;
  border-radius: 0% 0% 50% 50%;
  top: -25px;
}

.forearm-left {
  transform: rotate(90deg);
  margin-left: 9px;
}

.forearm-right {
  transform: rotate(-90deg);
  margin-right: 9px;
}

.wrist {
  background-color: rgb(255, 109, 65);
  width: 40px;
  height: 10px;
}

.hand-left,
.hand-right {
  background-color: white;
  width: 40px;
  height: 35px;
  top: -35px;
  border-radius: 50% 50% 0% 0%;
}

.hand-left:after {
  content: '';
  background-color: white;
  width: 15px;
  height: 10px;
  top: 25px;
  margin-left: 35px;
  border-radius: 100%;
}

.hand-right:after {
  content: '';
  background-color: white;
  width: 15px;
  height: 10px;
  top: 25px;
  border-radius: 100%;
  margin-right: 35px;
}

.buttons {
  background-color: #FFFFFF;
  width: 80px;
  height: 35px;
  top: 30px;
  border-radius: 10%;
}

.btn {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  top: 10px;
}

.blue {
  background-color: rgb(82, 128, 253);
  margin-left: 7px;
  animation: blink 1s steps(2, start) infinite;
}

.yellow {
  background-color: rgb(250, 210, 101);
}

.red {
  background-color: rgb(247, 112, 89);
  margin-right: 7px;
}

.leg {
  background-color: #F2F2F2;
  width: 55px;
  height: 140px;
  top: 120px;
}

.left {
  margin-left: -20px;
  transform: rotate(20deg);
}

.right {
  margin-right: -20px;
  transform: rotate(-20deg);
}

.foot {
  background-color: white;
  width: 60px;
  height: 35px;
  border-radius: 100% 100% 0% 0%;
  top: 115px;
}

.foot:after {
  content: '';
  background-color: rgb(255, 109, 65);
  width: 62px;
  height: 10px;
  top: 30px;
  border-radius: 10%;
}
