.container,
.astronaunt,
.helmet,
.helmet-glass,
.shine,
.spacesuit,
.torso
{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  box-sizing: border-box;
	display: inline-block;
}




.container {
  background-color: red;
  width: 300px;
  height: 400px;
  z-index: 9999;
  top: 150px;
}

.astronaunt {
  /* background-color: white;
  width: 100px;
  height: 200px; */
}

.helmet {
  background-color: #FFFFFF;
  width: 160px;
  height: 140px;
  border-radius: 50% 50% 40% 40%;
  z-index: 9999;
}

.helmet-glass {
  background-color: #666666;
  width: 130px;
  height: 80px;
  border-radius: 50% 50% 30% 30%;
  top: 15px;
}

.shine {
  background-color: #92928F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 90px;
  top: 20px;
}

.torso {
  background-color: #F2F2F2;
  width: 180px;
  height: 200px;
  top: 130px;

}